@font-face {
  font-family: 'DINPro-Bold';
  src: url('./DINPro-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Medium';
  src: url('./DINPro-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Regular';
  src: url('./DINPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PingFang SC';
  src: url('@/assets/fonts/PingFang/PingFang SC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}