.arco-picker {
  width: 100%;
}
.arco-picker input {
  width: 100%;
  padding: 0;
  // padding-left: 8px;
  color: var(--color-text-1);
  line-height: 1.5715;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  transition: all 0.1s cubic-bezier(0, 0, 1, 1);
}
.arco-picker-size-medium input {
  font-size: 13px;
}